---
import Default from "@astrojs/starlight/components/TableOfContents.astro";
import FeedbackBanner from "./FeedbackBanner.astro";
---

<Default />
<div style="margin-top: 1.5rem">
  <FeedbackBanner />
</div>
